

.wrapper{
    width: 266px;
    position: fixed;
    z-index: 3;
    height: 100%;
    overflow: auto;
    transition: transform 0.5s;
    transform: translateX(0);
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

.nav-top {
    display: flex;
    justify-content: space-between;
    height: 81px;
    padding: 20px 25px;
    align-items: center;

    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(39, 32, 120, 0.1);
}

.nav-chippi{
    display: flex;
    align-items: center;
}

.nav-close{
    display: none;
    font-size: 1.4rem;
    color: var(--iconColor);
    cursor: pointer;
}

.nav-top-logo-img {
    width: 34px;
    height: 35px;
}

.nav-top-name{
    margin-left: 8px;
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--textColor);
}

.nav-list{
    min-height: 892px;
    padding-top: 14px;
   
    background-color: #FCFCFC;
    li {
    list-style: none;
    padding: 0 25px;
    }
    li:hover {
        background-color: rgba(115, 102, 255, 0.07);
        cursor: pointer;
        .nav-item-name, .sub-item-link, .nav-icon, .nav-item-down{
            
            color: var(--primary);
        }
    }
}


.nav-item-name, .sub-item-link {
    text-decoration: none;
    color: var(--iconColor);
}




.item-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.active{
    background-color: rgba(115, 102, 255, 0.07);
    .nav-item-name, .sub-item,.sub-item-link, .nav-icon, .nav-item-down, .sub-item-wrap::after{
        color: var(--primary);
    }
}

  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.nav-item-left{
    display: flex;

}

.nav-icon{
    font-size: 18px;
    color: var(--iconColor);
}

.icon-down{
    font-size: 14px;
    transform: rotate(-90deg);
}

.nav-item-down{
    display: flex;
    justify-content: space-between;
}

.nav-item-name{
    color: var(--iconColor);
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 11px;
    height: 100%;
    width: 100%;
}

.nav-item-sub {
    display: none;
   margin: 0 41px;
   border-left-style: solid;
   border-left-color: rgba(0, 0, 0, 0.1);
   border-width: 60px 1px ;
   li{
    padding: 0 !important;
    
   }
   li::before{
    content: "";
    position: absolute;
    border-color:  rgba(0, 0, 0, 0.1);
    border-width: 1px 5px;
    border-style: solid;
    transform: translateY(2.7rem);
    }

    li::after{
        margin-left: -3px;
        content: "";
        position: absolute;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        
        transform: translateY(-2.8rem);
        color: var(--iconColor);
    }
}

.sub-item{
    width: 100%;
    padding: 16px 20px !important;
    color: var(--iconColor);
    font-size: 1.4rem;
    font-weight: 700;
}


.active-btn-down{
    transform: rotate(0);
    color: var(--primary);
}

// Button 

.nav-btn-wrap{
    display: none;
}

.nav-btn{
    
    padding: 0 14px;
    padding-top: 31px;
    display: flex;
    justify-content: space-around;
    background-color: #fcfcfc;
    
}


.icon-btn{
    
    padding-right: 5px;
}


// Animation

.close {
    transform: translateX(100%);
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
.open {
    transform: translateX(0);
    animation-name: slideIn;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }



// Responsive

@media only screen and (max-width: 992px) {
    .nav-btn-wrap {
        display: block;
    }


    .nav-close {
        display: block !important;
    }

    .nav-top{
        padding: 20px 10px;
    }

    .wrapper{}
}

