.button {
    // background-color: red;
    display: flex;
    border-radius: 0.5rem;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f73164;
    padding: 8px 10px;



  }

  .nav-btn{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

  .header-btn-global {
    display: flex;
    border-radius: 0.5rem;
    
    align-items: center;
    justify-content: center;
    border: none;
  }
  .tool-btn {
    background-color: #7366ff;
    margin-right: 10px;
  }
  .recharge-btn {
    background-color: #f73164;
  }
  .refresh-btn{
    background-color: transparent;
  }
  
// -------------------client--------------
.primary-btn{
  background-color: #7366ff;
  border-radius: 0.5rem;

  align-items: center;
  justify-content: center;
  border: none;
  
  color: #FFFF;
}
.buy-now-btn{
  background-color: #7366ff;
  border-radius: 0.5rem;

  align-items: center;
  justify-content: center;
  border: none;
  
  color: #FFFF;
  padding: 30px;
}
.secondary-btn{
  background-color: #f73164;
  border-radius: 0.5rem;

  align-items: center;
  justify-content: center;
  border: none;
  
  color: #FFFF;
}
.primary-hover-btn{
  background-color: #FFFF;
  border-radius: 0.5rem;

  align-items: center;
  justify-content: center;
  border: solid 3px #7366ff ;
  
  color: #7366ff;
}