.sign {
  position: relative;
  text-align: center;
  align-items: center;
  background-color: #eae8ff;

  // padding-left: 25%;
  //   position: relative;
}
.sign-block {
  margin-top: 10rem;
  margin-bottom: 10rem;
  //   padding: 0 5% 0 5%;
  display: inline-block;
  width: 70%;
  // border-radius: 27px;
  position: relative;
  // text-align: center;
  // align-items: center;
  background-color: #ffff;
  // height: 300px;
  border-radius: 27px 27px 27px 27px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.button-sign {
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem 0 5rem;
//   margin: 0 15rem 0 15rem;
}
.img {
  // background-color: #7366ff;
}
.img-background {
  position: relative;
  border-radius: 27px 0px 0px 27px;
  width: 100%;
  height: 900px;
  // min-height: 100%;
  object-fit: cover;
}
.sign-input {
  // background-color: bisque;
  // position: relative;
   height: 900px;
  border-radius: 0px 27px 27px 0px;
}
.user-password {
  margin-top: 12px;
}

.text {
  //   display: inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  margin-top: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  //   margin: auto;
}
.text-boder {
  //   display: inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  margin-top: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  //   margin: auto;
  border-bottom: 4px solid #7366ff;
  cursor: pointer;
}
.input-block {
  position: relative;
  margin-top: 7%;
}
.user-name,
.user-password {
  position: relative;
}
// .input {
//   position: absolute;
//   left: 0;
// }
.label-user {
  position: absolute;
  //   left: 0;
  margin-left: 10%;
  font-weight: 500;
  font-size: 14px;
  //   line-height: 17px;
  //   margin-bottom: 0px;
}
.input {
  border: 2px solid #7366ff;
  border-radius: 4px;
  height: 45px;
  width: 85%;
  outline: none;
  background-color: transparent;
  padding-left: 5%;
}
.input-check-box {
  color: #9a9797;
}
.label-check-book {
  margin-left: 10px;
  font-size: 14px;
  color: #9a9797;
}
.btn-text {
  color: #ffff;
  margin: 0px 10px 0px 10px;
}
.forgot-pass {
  margin-top: 13%;
  //   bottom: -20px;
  // font-size: 14px;
}
.text-forgot-pass {
  position: absolute;

  border-top: 2px solid #7366ff;
  margin: 0 25% 0 25%;
  padding: 5px 0px 10px 0px;
  cursor: pointer;
}
