
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #7366FF;
    --secondary: #F73164;
    --success: #54BA4A;
    --infor: #16C7F9;
    --warning: #FFAA05;
    --danger: #DC3545;
    --textColor: #2F2F3B;
    --iconColor: rgba(82, 82, 108,0.8);
  
}
html{
    
    font-size: 62.5%;
}
body {
    font-family: 'Inter';
    font-size: 1.6rem;
    background-color: #F7F8F9;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.col-custom-3{
    padding: 0;
}

.table-custom{
    margin-top: 20px;
    
    .table-col-heading{
    
        color: var(--textColor);
        font-size: 1.6rem;
        border: none;
        text-align: center;
    }
    
    .table-heading{
        background-color: #F5F6F9;
      
    }
    
    .table-line-item{
        padding: 17px 0;
    }
    
    .table-line-item{
        padding: 17px 0;
        font-weight: 600;
      
    }
    
    .table-col{
        text-align: center;
    
    }
    
    .table-col-item{
        padding: 10px 0;
    }
    
    .tr {
        border-bottom: 1px dashed rgb(82, 82, 108, 0.3);
    }
}

.btn-wrap{
    padding: 12px 10px;
    border-radius: 4px;
    border: none;
   

    .btn-icon{
        font-size: 18px;
        color: #fff;
    }

    .btn-name{
        margin-left: 4px;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 600;
    }
}

.container-wrapper{
    background-color: #fff;
    margin: 20px 33px;
    padding: 43px 32px;
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}








