@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #7366FF;
    --secondary: #F73164;
    --success: #54BA4A;
    --infor: #16C7F9;
    --warning: #FFAA05;
    --danger: #DC3545;
}
html{
    font-family: 'Inter';
    font-size: 62.5%;
}
body {
    font-family: 'Inter';
    font-size: 1.6rem;
}

*{
    font-family: 'Inter';
    font-size: 1.6rem;
}