
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #7366FF;
    --secondary: #F73164;
    --success: #54BA4A;
    --infor: #16C7F9;
    --warning: #FFAA05;
    --danger: #DC3545;
    --textColor: #2F2F3B;
    --iconColor: rgba(82, 82, 108,0.8);
  
}
html{
    
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
    font-size: 1.6rem;
    background-color: #F7F8F9;
    color: var(--textColor);
    overflow-x: hidden;
    
}

//id

#content {

    
    padding-left: 270px;
    padding-right: 0px;
}

// class

.table-wrap{
    margin-top: 17px;
    margin-bottom: 47px;
    padding: 41px;
    background: #FCFCFD;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 15px;
    overflow-x: scroll;
}

.table-custom{
    margin-top: 20px;
    
    
    .table-col-heading{
    
        color: var(--textColor);
        font-size: 1.6rem;
        border: none;
        text-align: center;
    }
    
    .table-heading{
        background-color: #F5F6F9;
      
    }
    
    .table-line-item{
        padding: 17px 0;
    }
    
    .table-line-item{
        padding: 17px 0;
        font-weight: 600;
      
    }
    
    .table-col{
        text-align: center;
        min-width: 70px;
       
        max-width: 30%;
    }
    
    .table-col-item{
        padding: 10px 0;
    }
    
    .tr {
        border-bottom: 1px dashed rgb(82, 82, 108, 0.3);
    }
}

.container-wrapper{
    background-color: #fff;
    margin: 20px 33px;
    padding: 43px 32px;
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}

.table-col-active{
    padding: 6px 14px;
    color: #fff;
    font-size: 1rem;
    background-color: var(--success);
    border-radius: 2px;
}

.content {
    margin-top: 81px;
}



// ScrollBar custom

.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent;
    height: 5px;
  }
.table-wrap::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent;
  }
.table-wrap::-webkit-scrollbar-thumb
{
    
	border-radius: 5px !important;
	background-color: rgb(0, 0, 0) !important;
	background-image: -webkit-linear-gradient(top,
    #eae8ff 0%,
                                                #c4beff 50%,
											  #8e84fd 51%,
											  var(--primary) 100%) !important;
}


// Responsive

@media only screen and (max-width: 992px) {
    #nav {
        display: none;
    }
    #content{
        padding-left: 0 !important;
      
    }
   
}




@media only screen and (min-width: 992px) {
    #nav {
        display: block !important;
    }
}


@media only screen and (min-width: 810px) {
    .table-wrap::-webkit-scrollbar {
        display: none;
      }
}





