
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #7366FF;
    --secondary: #F73164;
    --success: #54BA4A;
    --infor: #16C7F9;
    --warning: #FFAA05;
    --danger: #DC3545;
    --textColor: #2F2F3B;
    --iconColor: rgba(82, 82, 108,0.8);
  
}
html{
    
    font-size: 62.5%;
}
body {
    font-family: 'Inter';
    font-size: 1.6rem;
    
}

