.captcha-input{
    display: flex;
}
.input{
    margin-right: 15px;
    margin-bottom: 10px;
    border: 2px solid #7366FF;
}
.submit{
    color: #FFFF;
    padding: 0px 5px 0px 5px;
    margin-bottom: 0;
}
.btn-sign{
    margin-left: 25%;
}
.icon{
    background-color: transparent;
}