.number-discount{
    color: var(--success);
}

.used{
    color: var(--danger);
}

.total-money{
    color: var(--infor);
}

.btn-delete{
    background-color: var(--danger);
}

.btn-edit{
    margin-top: 4px;
    background-color: var(--infor);
}