
.transaction{
    background: #FCFCFD;
border: 2px solid #FFFFFF;
box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
border-radius: 15px;
}
.transaction-block{
    margin: 41px 0px 0px 31px;
}
.text{
    font-weight: 600;
font-size: 24px;
border-bottom: 1px solid rgba(0, 0, 0, 0.3);
display: inline-block;
padding-bottom: 8px;
// text-decoration: underline;
}
.input{
    display: flex;
    justify-content: space-between;
}
.show-number{
    border: 1px solid #CBCBD3;
border-radius: 4px;
}

.prev-money{
    
    color: var(--secondary);
}

.add-money{
    
    color: var(--success);
}

.total-money{
    color: var(--infor);
    
}