.account-about{
    background-image: url("../../../assets/account-bg.jpg");
    text-align: center;
    padding: 48px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-infor{
    position: relative;
    width: 20%;
    height: 26.5536%;
    display: inline-block;
}
.about-img-wrap{
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -8.14252px 8.14252px 20.3563px rgba(255, 51, 100, 0.5);
}

.about-img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.about-tick{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    transform: translateY(2px);
    border-radius: 50%;
    background-color: var(--success);
}

.about-icon{
    color: #fff;
    font-size: 1.5rem;
    transform: translateY(3px);
}

.about-name{
    margin-top: 16px;
    font-size: 2.4rem;
    font-weight: 500;
}

.about-email{
    
    font-size: 400;
    color: var(--textColor);
}

.about-spending{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 14.814%
}

.spending-number{
    font-size: 1.8rem;
    font-weight: 500;
}

.spending-text{
    font-size: 1.4rem;
    font-weight: 400;
}

.spending-item::before{
    content: "";
	display: block;
    top: 22px;
    left: 32%;
	position: absolute;
	border: 1px solid rgba(82, 82, 108, 0.4);
	border-width: 1px 20px;
    transform: rotate(90deg);
}

.spending-item::after{
    content: "";
	display: block;
    top: 22px;
    right: 32%;
	position: absolute;
	border: 1px solid rgba(82, 82, 108, 0.4);
	border-width: 1px 20px;
    transform: rotate(90deg);
}
.account-infor{
    margin-left: 70px;
}

.noti-heading{
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
}

.noti-item{
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.noti-name{
    flex: 3;
    font-size: 2rem;
    font-weight: 400;
}

.noti-input{
    flex: 7;
    padding: 8px 4px;
    width: 100%;
}

.table-wrap{
    margin-top: 40px;
}

.btn-col{
    padding: 14px 24px;
    font-size: 1.7rem;
    font-weight: 500;
    border: none;
    color: var(--primary);
    background: rgba(115, 102, 255, 0.1);
    border-radius: 5px;
}


