.table-wrap{
    margin-top: 17px;
    margin-bottom: 47px;
    padding: 41px;
    background: #FCFCFD;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 15px;
}

.bank-wrap{
    padding: 20px 20%;
}

.bank-item{
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.bank-name{
    font-size: 2rem;
    font-weight: 400;
    flex: 2;
}

.bank-input{
    padding: 8px 4px;
    width: 100%;
    flex: 8;
}

.bank-btn{
    padding: 28px 20%;
    text-align: center;
}

.btn-add{
    background-color: var(--infor);
}

.btn-delete{
    background-color: var(--danger);
}

.btn-edit{
    margin-top: 4px;
    background-color: var(--infor);
}