.container-heading{
    display: flex;
    justify-content: space-around;
}

.container-infor{
    margin-top: 72px;
}

.container-infor-wrap{
    
    display: flex;
    justify-content: start;
}

.container-infor-item{
    margin-bottom: 12px;
    flex: 1;
    padding: 0 10px;
    
}

.heading-wrap{
    cursor: pointer;
}

.infor-name{
    font-size: 1.8rem;
    height: 30px;
}

.infor-input{
    width: 100%;
    padding: 8px 4px;
    height: 42px;
}

#infor-content{
    border-bottom: solid 2px var(--primary);
}


span{
    padding: 0;
    border: none;
}



